.header a, a:hover /* стиль для надписи в хедере КиноМонстр */
{
	color: #f0ad4e;
	text-decoration: none;
}

.header h1 /* стиль для надписи в хедере КиноМонстр */
{
	letter-spacing: 15px;
	font-size: 300%;
}

.header p /* стиль для надписи в хедере кино - наша страсть */
{
	color: white !important;
	font-size: 90%;
	letter-spacing: 3px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover /* стиль для активной (нажатой) кнопки меню хедера */
{
	color: #fff;
	background-color: #346270;
}

.nav-pills>li>a /* стиль для не активных (не нажатых) кнопок меню хедера */
{
	color: #fff;
}

.nav-pills>li>a:hover /* стиль для не активных (не нажатых) кнопок меню хедера в режиме наведения мыши*/
{
	color: #fff;
	background-color: #346270;
}

.navbar-inverse /* добавляем отступы для черного контейнера хедера */
{
	padding: 1%;
	border-radius: 0;
}

@media (max-width: 767px) /* медиа запросы стилей для эрана с маленьким разрешением  */
{
	.nav-pills>li /* стили для кнопок меню с выпадающей кнопки */
	{
		float:none;
		padding: 0.1%;
		text-align: center;
	}

	.header h1 /* стили для заголовка хедера */
	{
		letter-spacing: 3px;
		font-size: 270%;
	}

	.header /* выравние по цента для хедера */
	{
		text-align: center;
	}

}

.clear
{
	clear: both; /* отменяет обтекание, если есть float, он отменяет его дейтвие */
	height: 63px;
}

.wrapper /* определяем минимальный размер тела сайта, чтобы футер прижать снизу */
{
	min-height: 100%;
}

html, body  /* определяем минимальный размер тела сайта, чтобы футер прижать снизу */
{
	height: 100%;
}

.films_block
{
	text-align: center;
}

.films_block img
{
	margin-bottom: 5%;
	border-radius: 5px;
	border: solid 5px #dad7d5;
	width: 100%;
}

.films_label
{
	padding: 2%;
	margin-bottom: 4%;
}

.margin-8
{
	margin-top: 8%;
}



.panel
{
	border: none;
}

.panel-body
{
	background-color: #f9f9f9;
}

.panel-info>.panel-heading
{
	background-color: #f0ad4e;
	color: white;
 	border-color: transparent; 
}

.sidebar-header
{
	font-size: 120%;
	letter-spacing: 2px;
}

.input-lg
{
	font-size: 14px;
}

.form-control
{
	border-radius: 0px;
}

.list-group-item-warning
{
	color: #8a6d3b;
	background-color: #f9f9f9;
}

.badge
{
	background-color: black;
}

.info-block
{
	font-size: 120%;
}

.info-block .badge
{
	font-size: 80%
}

.info-block span
{
	margin-right: 3%;
}

textarea.form-control
{
	height: 200px;
}

.table tbody>tr>td.vert-align
{
	vertical-align: middle;
}



footer /* определяем стили для футера */
{
	color: #666;
	background-color: #222;
	padding: 17px 0 18px 0;
	/* border-top: 1px solid #000; */
	background-color: black;
}

footer a
{
	color: #999;
}

footer a:hover
{
	color: #efefef;
}